[packages]
uvicorn = "*"
pydantic = "*"
pytz = "*"
fastapi = "*"
starlette = "*"
sqlalchemy = "*"
psycopg2 = "*"
jwt = "*"
requests = "*"
python-keycloak = "*"
fpdf = "*"

[requires]
python_version = "3.12"
